body,
.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6,
.uk-heading-2xlarge,
.uk-heading-large,
.uk-heading-medium,
.uk-heading-small,
.uk-heading-xlarge,
h1,
h2,
h3,
h4,
h5,
h6,
.uk-navbar-item,
.uk-navbar-nav > li > a,
.uk-navbar-toggle {
  font-family: "Roboto", sans-serif !important;
  font-weight: 300;
}

.btn-delete {
  position: relative;
  top: 2px;
}

.disabled-link {
  pointer-events: none;
  background-color: #151515;
}

/* API feature */
.wrapper {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.col-left {
  padding: 2rem;
  width: 300px;
  height: 500px;
  overflow: auto;
}

.col-left li {
  cursor: pointer;
}

.col-right {
  padding: 2rem;
  flex-grow: 1;
}
